# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.ta
r.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java-rpg/.idea/.gitignore
/.idea/discord.xml
/out/production/School-Stuff/META-INF/MANIFEST.MF
/src/META-INF/MANIFEST.MF
/.idea/misc.xml
/java-rpg/.idea/misc.xml
/.idea/modules.xml
/.idea/School-Stuff.iml
/.idea/artifacts/School_Stuff_jar.xml
/.idea/vcs.xml
/java-rpg/.idea/uiDesigner.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/java-rpg/.idea/vcs.xml
/java-rpg/.idea/School-Stuff.iml
/java-rpg/src/META-INF/MANIFEST.MF
/java-rpg/.idea/artifacts/School_Stuff_jar.xml
/java-rpg/.idea/modules.xml
/java-rpg/out/production/School-Stuff/META-INF/MANIFEST.MF
/java-rpg/.idea/discord.xml
/.idea/.gitignore
/Python-Stuff/.idea/inspectionProfiles/profiles_settings.xml
/Python-Stuff/.idea/Python-Stuff.iml
/Python-Stuff/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/compiler.xml
